

@font-face {
    font-family: "thirdman";
    src: url("../fonts/3rd-man.woff2") format('woff2');
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: #F8F6F1;
}

button {
    padding: 0.5rem;
    background-color: #dddddd;
    border: #555555 solid 2px;
    border-radius: 17px;
    height: 34px;
    vertical-align: middle;
    color: #555555;
    font-weight: bold;
    margin-right: 1rem;
}

button:hover {
    background-color: #aaaaaa;
    border-width: 3px;
}

h1 {
    font-family: thirdman;
    font-size: 2.5rem
}

h2 {
    font-family: thirdman;
    font-size: 2rem
}

section {
    padding: 1.5rem;
}

div.control {
    margin-top: 1rem;
}

div.rating-options {
    display: flex;
}

div.rating {
    border: solid black 2px;
    margin: 0.5rem;
    padding: 3px;
    text-align: center;
    min-width: 60px;
}

div.rating span {
    font-size: 20pt;
    pointer-events: none; 
}

div#toon-name, input#hunter-playbook {
    text-transform: capitalize;
}

div#toon-moves, div#hunter-moves {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    border: solid black 1px;
}

div#toon-moves div, div#hunter-moves div {
    padding: 0.5rem;
    border: solid black 1px;
    align-items: center;
    display: grid;
}

div#rolls div:last-child {
    font-weight: bold;
}

div#rolls div {
    padding: 0.5rem;
}

.danger {
    background-color:#ee8888;
}

.header {
    margin: 0;
    padding: 0.5rem 0 0.5rem 1.5rem ;
    font-family: thirdman;
    font-size: 3.5rem;
    color: white;
    background-color: black;
}

.hand {
    cursor: pointer;
}

.grid {
    display: inline-grid;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
}