

@font-face {
    font-family: "thirdman";
    src: url("../fonts/3rd-man.woff2") format('woff2');
}

body {
    padding: 0;
    margin: 0;
}

section {
    padding: 1.5rem;
}
    
.header {
    margin: 0;
    padding: 0.5rem 0 0.5rem 1.5rem ;
    font-family: thirdman;
    font-size: 3rem;
    color: white;
    background-color: black;
}
